body{
    font-family: "Comfortaa", sans-serif;
}
.parent{
    position: relative;
    border: 1px solid black;
    height: 100vh;
    overflow: hidden;
    display: flex;

}
.solid-circle{
    height: 750px;
    width: 750px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    right: -375px;
    top: auto;
    z-index: 1;
}
.header-home{
    padding: 0px 10px;
    margin-left: 25px;
}
#click-here-button{
    background-color: white;
    border: none;
    padding: 10px 25px;
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    left: 1400px;
    z-index: 1;
    border-radius: 1px solid black;
    height: 50px;
    width: 150px;
    text-align: center;
    color: blue;
    box-shadow: 2px 2px 5px black;
}
#click-here-button:hover{
    background-color: lightgray;
}
.main-content{
    position: relative;
    z-index: 2;
    padding: 15px;
    top:80px;
    margin-left: 30px;
}
.main-content-text{
    max-width: 600px;
    font-size: 35px;
    line-height: 1.6;
}
#Name{
    color:blue;
    font-size: 100px;
    text-overflow: hidden;
}
.form-floating{
    box-shadow: 4px 4px 5px lightslategray;
    border-radius: 8px;
}
#log-in-button{
    
    padding: 0px 30px;
}
@media only screen and (max-width:768px) {
    .solid-circle{
        background-color: black;
        height: 500px;
        width: 470px;
        right: -250px;
        top: -360px;

    }
    #click-here-button{
        left: 290px;
        height: 40px;
        width: 150px;
        font-size: 16px;
        z-index: 2;
        color: black;
    }
    #Name{
        color: black;
    }
    #log-in-button{
        margin-top: 10px;
        background-color: black;
    }

    
    
}